/*------------------------------------
- COLOR primary
------------------------------------*/
:root{
    --primary_t1: #000000;
    --primary_t2: #000000;
    --primary_t3: #4f4f4f;
    --primary_t4: #5b5b5b;
    --primary_t5: #000000;
    --primary_t6: #000000;
    --primary_t7: #000000;
    --primary_t8: #000000;
    --primary_t9: #666666;

    --primary_shadow: rgba(0,0,0,0.5);
    --primary_text: #fff;
}